 /*this is where our css goes*/

[data-ember-action] {
  cursor: pointer;
}

body {
  background: #bbb;
}

#one {
  background: blue;
}

#two {
  background: green;
}

#three {
  background: purple
}
