<div class="col-md-12 centered">
  <h3>Check out the console for details.</h3>
  <p><button {{action 'commonMoodActivityPairs'}} class="btn btn-default">Basic Data Correlation Demo</button></p>
</div>
